.fs-200 {
  font-size: var(--font-size-200);
}
.fs-300 {
  font-size: var(--font-size-300);
}
.fs-400 {
  font-size: var(--font-size-400);
}
.fs-500 {
  font-size: var(--font-size-500);
}
.fs-600 {
  font-size: var(--font-size-600);
}
.fs-700 {
  font-size: var(--font-size-700);
}
.fs-800 {
  font-size: var(--font-size-800);
}
.fs-900 {
  font-size: var(--font-size-900);
}