 /* Set core body defaults */
@layer base {
  .page__body {
    @include grid-all-center;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    font-family: var(--ff-roboto);
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }
}