@use 'colors' as *;

/* ------------------------------- */
/* ---------  Dark Theme --------- */
/* ------------------------------ */
@layer theme.light {
  @media (prefers-color-scheme: light) {
    :root {
      color-scheme: light;
      --body-background-color: var(--pixel-7-snow-color);
      --body-primary-text-color: var(--pixel-fold-obsidian-color);
    }
  }
}